/*
* @Author: jinhaiyue
* @Date:   2017-08-16 21:26:07
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-17 23:50:09
*/
@CHARSET "UTF-8";
.container > img {
	width: 100%;
	position: absolute;
	top: 97px;
	z-index: -9;
}
.container > header {
	background-color: #1780c1;	
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}
.location {
	display: inline-block;
	margin-top: 8px;
	cursor: pointer;
}
.location .iconfont {
	color: #fc7f01;
}
.location:hover .iconfont{
	color: #fb9937;
}
.pls-login {
	color:#fff;
	margin-right: 2px;
}
.myInfo {
	margin: 0 10px;
	cursor: pointer;
}


/* logo */
h1 {	
	width: 187px;
	height: 50px;
	background: url(../images/logo.jpg) no-repeat;
	background-size: 100%; 
	text-indent: -999em;
}

/* 导航 */
.container > nav {
	height: 50px;
	border-bottom: 2px solid #fc7f01;
}
.container > nav > img {
	position: absolute;
	left: 50%;
	margin-left: -960px;
	z-index: -1;
}
.nav-wrapper > li {
	float: left;
	width: 100px;
	height: 50px;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.nav-wrapper > li.active,
.nav-wrapper > li:hover {
	background-color: #fc7f01;
	color: #fff;
}


/* 内容区 */
.content-header {
	position: relative;
}

.cars-info-left {
	height: calc(100% - 20px);
	width: 218px;
	padding: 10px;
	background-color: #eee;
}
.cars-info-left > li {
	min-height: 25%;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
}
.cars-info-left > li:last-child {
	border-bottom: none;
}
.cars-info-left .iconfont {
	font-size: 24px;
	color: #c3c3c3;
	position: relative;
	top: 3px;
	margin-right: 5px;
}
.cars-info-left .icon {
	font-size: 20px;
	top: 2px;
}
.cars-info {
	padding: 5px 20px 0 30px;
}
.cars-info > a {
	display: inline-block;
	color: #a0a0a0;
	margin: 5px 5px 5px 0;
}
.cars-info > a:hover {
	color: #fc7f01;
	text-decoration: underline;
}

.search-wrap {
	position: absolute;
	bottom: 150px;
	left: 50%;
	margin-left: -236px;
}
.b-search {
    position: relative;
    left: -3px;
}

.cars-info-center {
	background-color: #fff;
	width: 600px;
	margin: 50px 50px 0 50px;
	height: calc(100% - 250px);
}

.cars-info-right {
	padding: 20px 0;
	height: calc(100% - 40px);
	width: 262px;
}
.block-sm {
	background-color: rgba(238, 238, 238, .9);
}
.block-sm:hover {
	background-color: rgba(255, 255, 255, 1);
}
.recommend {
	height: 50%;
	margin: 20px 0;
}
.recommend > h4 {
	background-color: #fc7f01;
	font-size: 16px;
	color: #fff;
	padding: 8px 5px;
}
.notice {
	height: calc(50% - 73px);
}

.present-info {
	padding: 11px 0;
}
.present-info p {
	line-height: 24px;
}
.present-info p > span {
	color: #fc7f01;
}


/* 正式内容区 */
.content {
	width: 1200px;
	margin: 10px auto 10px;
}


